<%- model_class = List -%>
<div class="page-header">
  <h1>TODO List</h1>
</div>

<table class="table table-striped" id="list" list-id="<%= @list.link_token %>">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:date) %></th>
    <th><%= @list.date %></th>
  </tr>

  <tr>
    <th>Task body</th>
    <th>Done</th>
  </tr>
  </thead>
  <tbody id="Tasks">
    <% @list.tasks.all.each do |task|%>
      <%= render partial: "tasks/task_show", locals: {task: task} %>
    <% end %>

  </tbody>
</table>